/assets/tiggerVideos/IMG_4436.MOV filter=lfs diff=lfs merge=lfs -text
/assets/tiggerVideos/IMG_4861.MOV filter=lfs diff=lfs merge=lfs -text
/assets/tiggerVideos/IMG_4869.MOV filter=lfs diff=lfs merge=lfs -text
/assets/tiggerVideos/IMG_4872.MOV filter=lfs diff=lfs merge=lfs -text
/assets/tiggerVideos/IMG_4890.MOV filter=lfs diff=lfs merge=lfs -text
/assets/tiggerVideos/IMG_4891.MOV filter=lfs diff=lfs merge=lfs -text
/assets/tiggerVideos/web/IMG_4869.mp4 filter=lfs diff=lfs merge=lfs -text
/assets/floorVideos/floor.mp4 filter=lfs diff=lfs merge=lfs -text
/assets/video/resonant-field-film/resonant_field_picture_01.mp4 filter=lfs diff=lfs merge=lfs -text
